.col-xl-4.col-md-6.card-wrapper{id: "card-#{card.id}"}
  .card.text-center{data: {id: card.id}}
    .card-block
      %h4.card-title
        = f.text_field :name, placeholder: card.new_record? ? "New card" : "Name"
      .card-text
        = f.text_area :description, cols: 35, rows: 10
    .card-footer
      = f.hidden_field :id, value: card.id unless card.new_record?
      .readyable-toggle.form-check.form-check-inline
        = f.check_box :readied, class: 'card-readyable-checkbox'
        = f.label :readied
      .form-check.form-check-inline
        = f.check_box :always_draw, class: 'card-always-draw-checkbox'
        = f.label :always_draw, tooltip: "YES"
      .form-check.form-check-inline
        = f.check_box :_destroy
        = f.label :_destroy, "Delete"
