.col-sm-4.card-wrapper{id: "card-#{card.id}"}
  .card.text-center{data: {id: card.id}}
    .card-block
      %h4.card-title
        = form.text_field :name
      .card-text
        = form.text_area :description, cols: 35, rows: 10
    .card-footer
      = form.hidden_field :id, value: card.id
      = form.check_box :readied
      = form.label :readied
      %br
      = form.check_box :_destroy
      = form.label :_destroy, "Delete"
