= form_for([@deck.becomes(Deck), card]) do |f|
  - if card.errors.any?
    #error_explanation
      %h2
        = pluralize(card.errors.count, "error")
        prohibited this card from being saved:
      %ul
        - card.errors.full_messages.each do |message|
          %li= message
  = f.hidden_field :deck_id, value: params[:deck_id]
  .form-group.row
    = f.label :name, class: 'col-md-1 col-form-label'
    .col-md-11
      = f.text_field :name, class: 'form-control'
  - if card.readyable?
    .form-group.row
      = f.label :readied, class: 'col-md-1'
      .col-md-11
        = f.check_box :readied
  .form-group
    = f.label :description
    = f.text_area :description, class: 'form-control'
  .form-group
  .actions
    = f.submit
