= form_for(deck) do |f|
  - if deck.errors.any?
    #error_explanation
      %h2
        = pluralize(deck.errors.count, "error")
        prohibited this deck from being saved:
      %ul
        - deck.errors.full_messages.each do |message|
          %li= message
  = f.hidden_field :user_id, value: current_user.id
  .form-group.row
    = f.label :name, class: 'col-sm-2 col-form-label'
    .col-sm-10
      = f.text_field :name, class: 'form-control'
  .form-group.row
    = f.label :initial_hand_size, class: 'col-sm-2 col-form-label'
    .col-sm-1
      = f.number_field :initial_hand_size, class: 'form-control'
    .col-sm-9
    %small.form-text.text-muted#no-deck-tooltip Unchecking 'Uses deck' puts all cards in your hand automatically.
  .form-group
    = f.check_box :uses_deck, id: 'uses_deck'
    = f.label :uses_deck, "Uses deck", for: 'uses_deck'
    %sup
      = fa_icon 'info-circle', title: 'If unchecked, all cards are put in your hand immediately.'
  .form-group
    = f.check_box :readyable, id: 'readyable'
    = f.label :readyable, "Only draw 'readied' cards", for: 'readyable'
    %sup
      = fa_icon 'info-circle', title: 'If checked, any cards not marked as "readied" will not appear in your deck when playing.'
  .form-group
  .row#cards-list
    = f.fields_for(:cards) do |c|
      = render partial: 'cards/card_edit', locals: {f: c, card: c.object}
  .actions
    = f.submit(f.object.new_record? ? "Create Deck" : "Update Deck", class: 'btn btn-primary')
    - unless deck.new_record?
      = link_to_add_fields 'Add a Card', f, :cards, {partial: 'cards/card_edit', locals: {card: Card.new(deck: f.object) }}, class: 'btn btn-success', id: "add-card"
    = link_to "Back", deck.new_record? ? decks_path : deck_path(deck), class: 'btn btn-secondary'
