%h1 Decks
- @decks.each do |deck|

  .container-fluid.my-md-3.my-1.border-bottom-1
    .row
      .col
        = link_to deck_path(deck) do
          %h3= deck.name
      .col-lg-auto
        = link_to 'Play', play_deck_path(deck), class: "btn btn-primary"
        = link_to 'Edit', edit_deck_path(deck), class: "btn btn-warning"
        %span &nbsp;
        = link_to 'Delete', deck_path(deck), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"

%br/
= link_to 'New Deck', new_deck_path, class: "btn btn-success"
