!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport" content: "width=device-width, initial-scale=1"}
    %title Nemelex
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body{class: "#{controller_name} #{controller_name}-#{action_name} m-1"}
    .container-fluid
      .row.no-gutters.align-items-center
        - if flash[:notice]
          .col
            .alert.alert-info.m-2{role: 'alert'}= flash[:notice]
        - if flash[:alert]
          .col
            .alert.alert-danger.m-2{role: 'alert'}= flash[:alert]
        - if [flash[:notice], flash[:alert]].none?
          .col
        .col-md-auto.m-2
          = render partial: 'modules/login_nav'

    .container-fluid
      = yield
